/* Listes
-------------------------------------------------------------*/
#liste span.pageBalise{
    max-width: 50%;
}

.elemListe a{
	flex-direction: column;
}

.elemListe ul{
	max-width: 50%;
}

.elemListe img{
	max-width:8em;
	margin: 0 0 30px 0;
}