.row{
    display: flex;
    flex-flow: row;
}

.column{
    display: flex;
    flex-flow: column;
}

.centre{
    justify-content: center;
    align-items: center;
}

.flex-end{
    align-self: flex-end;
}

