/*  TABLE DES MATIÈRES
    - Listes
    - Affichage individuel d'oeuvre
    - Media queries
-------------------------------------------------------------*/

/* Listes
-------------------------------------------------------------*/
#liste{
	padding-left:2em;
    width: 100%;
}

#liste hr{
	border-top:3px solid #ccc;
	padding:0;
	margin:0;
}

#secPagination 
{
	display:flex;
	flex-direction:row;
	justify-content: center;
	margin: 10px 0;
}

#secPagination span.pageBalise{
    display:block;
	width:2em;
	font-family: 'Muli', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.25em;
    color: grey;
	margin: 0 5px;
	text-align:center;
}

#secPagination span.pageBalise.pageSelect{
    color: black;
	font-weight:bolder;
    cursor: pointer;
	background-color:#C8FDFD;
	border-radius:50%;
}

#secPagination span.pageBalise:hover{
    color: black;
	font-weight:bolder;
    cursor: pointer;
	background-color:#C8FDFD;
	border-radius:50%;
}

div.elemListe{
	border-bottom: 2px double #ccc;
}

div.elemListe:hover{
	background-color:#F0FDFD;
}

span.catElemListe{
	color: grey;
	font-family:'Muli', sans-serif;
	font-size:15px;
}
.liRecherche{
	display:block;
	margin-left: 20px;
}

span.inconnu{
	font-family:arial;
	font-style:italic;
	color:red;
	font-size:0.8em;
}

.elemListe a{
	min-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;
	padding:15px 30px;
	margin: 0;
}

/*Permet de gérer les différents affichages d'un lien our qu'ils soient tous le même*/
.elemListe a:link, .elemListe a:visited, .elemListe a:hover , .elemListe a:active{
  text-decoration:  none;
  background-color: none;
  color: black;
}

.elemListe ul{
	max-width: 50%;
	margin: 0;
	padding:0;
	font-style:normal;
}

.elemListe img{
	height:auto;
	max-width:10em;
	border: 2px solid #f1f1f1;
	margin-right :45px;
	box-shadow: 5px 5px 5px #888888;
}

.pageCache{
	display:none;
}

ul.listeAuteur{
	margin:0 0 0 20px;
}

li, ul{
	width:100%;
}

/* Affichage individuel d'oeuvre
-------------------------------------------------------------*/
#oeuvreIndi ul.elementOeuvre{
	list-style-type: none;
}
#oeuvreIndi ul.elementOeuvre li{
	margin-bottom:0.5em;
}

#oeuvreIndi ul.elementOeuvre li span{
	font-size:1.5em;
}

#sectionImage{
	border:solid 5px #009999;
	border-radius: 25px;
	max-width:50%;
	min-height:10em;
	margin:0 auto;
	padding:1em;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
}

#sectionImage img{
	max-height: 10em;
}

#sectionImage span{
	color:#b5b5b5;
	font-style:italic;
}


/* Media queries
-------------------------------------------------------------*/

/* Téléphone ----------------------------- */
@media (max-width: 480px) {
    #secPagination span.pageBalise{
        max-width: 50%;
    }
    
    .elemListe a{
        flex-direction: column;
    }
    
    .elemListe ul{
        max-width: 50%;
    }
    
    .elemListe img{
        max-width:8em;
        margin: 0 0 30px 0;
    }
    
}

