/*  TABLE DES MATIÈRES
    - Global
    - Recherche
    - Carousel
    -
    -
-------------------------------------------------------------*/

/* Global
-------------------------------------------------------------*/

*{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}

.texteCentre{
    text-align: center;
}

/* Recherche
-------------------------------------------------------------*/

#barRecherche{
	color: #4d4d4d;
	text-align: center;
	margin: auto;
	margin-top: 50px;
}

#btnRecherche , #btnRechercheAvance{
	background-color: #4d4d4d;
	text-align: center;
	color: white;
	width: 150px;
}

#motRecherche, #motRechercheAvance{
	width: 350px;
}

#msgResultat{
	color : #009999;
	text-align: center;
	
}

.selectRechercheAvance{
	margin-right: 10px;
}

#menuAccueil #liRecherche{
   width: 150px;
}

#barRechercheAcceuil{
	color: #4d4d4d;
	min-width: 550px;
	margin: 0 auto;
	padding:17% 0 17% 0;
}


/* Carousel
-------------------------------------------------------------*/

#carousel{ 

	background: url(../images/Acceuil_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	//min-height: 500px;
	margin: 0;
	text-align: center;
}

/*
#apropos{
	padding: 20px;
	width: 100%
}*/

/* Fin d'Acceuil
-------------------------------------------------------------*/

/* Listes
-------------------------------------------------------------*/
#liste{
	padding-left:2em;
    width: 100%;
}

#liste hr{
	border-top:3px solid #ccc;
	padding:0;
	margin:0;
}

#liste span.pageBalise{
    margin: 0 auto;
    display: block;
    max-width: 25%;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

div.elemListe:hover{
	background-color:#dfefdf;
}

#liste span.pageBalise:hover{
    cursor: pointer;
}

span.catElemListe{
	color: #016737;
	font-weight: bold;
}
.liRecherche{
	display:block;
	margin-left: 20px;
}

span.inconnu{
	font-family:arial;
	font-style:italic;
	color:red;
	font-size:0.8em;
}

.elemListe a{
	min-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;
	padding:15px 30px;
	margin: 0;
}

/*Permet de gérer les différents affichages d'un lien our qu'ils soient tous le même*/
.elemListe a:link, .elemListe a:visited, .elemListe a:hover , .elemListe a:active{
  text-decoration:  none;
  background-color: none;
  color: black;
}

.elemListe ul{
	max-width: 50%;
	margin: 0;
	padding:0;
	font-style:normal;
}

.elemListe img{
	height:auto;
	max-width:10em;
	border: 2px solid #016737;
	border-radius:10px 0 10px 0;
	margin-right :45px;
	box-shadow: 5px 5px 5px #888888;
}

.elemListe .rondListe{
	height:15px;
	width:15px;
	background-color:#016737;
	border-radius:100%;
	margin-right :45px;
}

.pageCache{
	display:none;
}

ul.listeAuteur{
	margin:0 0 0 20px;
}

li, ul{
	width:100%;
}

/* Affichage individuel d'oeuvre
-------------------------------------------------------------*/
#oeuvreIndi ul.elementOeuvre{
	list-style-type: none;
}
#oeuvreIndi ul.elementOeuvre li{
	margin-bottom:0.5em;
}

#oeuvreIndi ul.elementOeuvre li span{
	font-size:1.5em;
}

#sectionImage{
	border:solid 5px #009999;
	border-radius: 25px;
	max-width:50%;
	min-height:10em;
	margin:0 auto;
	padding:1em;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
}

#sectionImage img{
	max-height: 10em;
}

#sectionImage span{
	color:#b5b5b5;
	font-style:italic;
}

