/*  TABLE DES MATIÈRES
    - 
    - 
    - 
    -
    -
-------------------------------------------------------------*/

/* Global
-------------------------------------------------------------*/

*{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}


/* Entête
-------------------------------------------------------------*/

#logo{
    font-size : 3.5em;
    color : #016737;
    margin-top : 40px;
    margin-left : 40px;
}

#noir{
    color : black;
}

#blanch{
    color : white;
}
#barRecherche{
	position:absolute;
	color:white;
	top:150px;
	right:30px;
	
}

#menuUser{
    margin-top : -39px;
}

#menuUser ul{
    background-color : #016737;
    padding-top : 50px;
}

#menuUser li{
    display : inline-block;
    list-style-type : none;
    margin-top : 30px;
    margin-right : 10px;
    width : 120px;
    padding-top : 15px;
    text-align:center;
    background-color : white;
    //background-color : #547968;
    //border : solid black 2px;
}
#menuUser #liRecherche{
   
    width : 150px;
    
}


#menuUser a{
    text-decoration: none;
    color : black; 
}

#menuUser a:hover{
    color : #016737;
}

#menuUser .actif { 
    display : inline-block;
    padding-top : 40px;
    color: black;
    pointer-events:none;
    //border : solid black 1px;
}

#titreUser{
    position: absolute;
    color : white;
    top: 97px;
	font-style: italic;
	font-weight:normal;
    margin-left : 150px;
    letter-spacing: 4px;   
}

/* Listes
-------------------------------------------------------------*/
/* Acceuil */

#pageAcceuil{ 

	/* l'image d'arrier plan */
	background: url(../images/Acceuil_4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	min-width: 100%;
	min-height: 100%;
	/* flex*/
	/*display: flex;
	flex-flow:  column nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	 -----------------*/
	color: white;
	text-align: center;
}
#acceuil {
	position:absolute;
	color:white;
	top:50%;
	left:50%;
	padding:15px;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	/*min-width: 800px;
	min-height: 600px;*/
}
#headerAcceuil, #contentAcceuil{
	min-width: 800px;
}




#menuAcceuil li{
    display : inline-block;
    list-style-type : none;
   
    margin-right : 10px;
    width : 150px;
    padding-top : 15px;
    text-align:center;
    color: white;
    
}

#menuAcceuil a{
    text-decoration: none;
    color: white;
}

#menuAcceuil a:hover{
    color : #016737;
	border-bottom: 1px solid #016737;
}

#menuAcceuil .actif { 
    display : inline-block;
    padding-top : 40px;
    color: black;   
}
#contentAcceuil {
	margin-top: 40px;
	
}
#contentAcceuil a{
	text-decoration: none;
    color: white;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid white;
}
#btnRecherche{
	background-color : #016737;
	text-align: center;
	color: white;
}

/* Fin d'Acceuil
-------------------------------------------------------------*/

/* Listes
-------------------------------------------------------------*/
#liste{
	padding-left:2em;
    width: 100%;
}

#liste hr{
	border-top:3px solid #ccc;
}

#liste span.pageBalise{
    margin: 0 auto;
    display: block;
    max-width: 25%;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

#liste span.pageBalise:hover{
    cursor: pointer;
}

span.catElemListe{
	color: #016737;
	font-weight: bold;
}
.liRecherche{
	display:block;
	margin-left: 20px;
}

span.inconnu{
	font-family:arial;
	font-style:italic;
	color:red;
	font-size:0.8em;
}

.elemListe{
	min-width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items:center;
	padding:15px 30px;
	margin: 0 0 15px 30px;
}

.elemListe ul{
	max-width: 50%;
	margin: 0;
	padding:0;
}

.elemListe img{
	height:auto;
	max-width:10em;
	border: 2px solid #016737;
	border-radius:10px 0 10px 0;
	margin-right :45px;
	box-shadow: 5px 5px 5px #888888;
}

.elemListe .rondListe{
	height:15px;
	width:15px;
	background-color:#016737;
	border-radius:100%;
	margin-right :45px;
}

.pageCache{
	display:none;
}

ul.listeAuteur{
	margin:0 0 0 20px;
}

li, ul{
	width:100%;
}