/*  TABLE DES MATIÈRES
    - Soumission
    - Media queries
-------------------------------------------------------------*/

/* Soumission
-------------------------------------------------------------*/

.soumissionUsager{
    width: 602px;
    color : black;
    margin: auto;
    margin-top : 50px;
}

.soumissionUsager h1{
    width: 450px;
    margin: auto;
    border-bottom: solid black 2px;
}

.soumissionUsagerFormulaire{
    padding-top : 25px;
    padding-bottom: 20px;
}

.soumissionUsagerFormulaire label{
    display:inline-block;
    width: 200px;
    text-align:right;
    margin-bottom: 10px;
}

.soumissionUsagerFormulaire input{
    width: 337px;
}

.boutonSoummissionUsager{
    padding: 10px 30px;
    align-self: flex-end;
	margin-right: 57px;
    margin-bottom: 50px;
    color : white;
    background-color: #4d4d4d;
	border : solid transparent 2px;
}

.boutonSoummissionUsager:hover{
    color : #4d4d4d; 
    background-color: white; 
	border : solid #4d4d4d 2px;
}

#msgErreurSoumision{
    display: block;
    color : brown;
    margin-left : 41%;
}

.remerciement{
    margin-bottom: 400px;
}

/* Media queries
-------------------------------------------------------------*/

/* iPad ---------------------------------- */
@media (max-width: 800px) {
    
    .soumissionUsager{
        width: 460px;
        margin: left;
    }
    
    .soumissionUsager h1{
        text-align: left;
        width: 350px;
    }
    
    .soumissionUsagerFormulaire label{
        display:block;
        text-align:left; 
         margin-bottom: 2px;
    }
    
    .soumissionUsagerFormulaire input{
        margin-bottom: 15px;
    }
    
    .soumissionUsagerFormulaire select{
        margin-bottom: 15px;
    }
    
    #msgErreurSoumision{
        margin-left : 0%;
    }
}


/* Téléphone ----------------------------- */
@media (max-width: 480px) {
    
    .soumissionUsager h1{
        margin-left : 20px;
        font-size : 1.7em;
        text-align: left;
        width: 300px;
    }
    
    .soumissionUsagerFormulaire{
        margin-left : -60px;
    }
    
    .boutonSoummissionUsager{
        align-self: center;
    }   
}