/*  TABLE DES MATIÈRES
    - Soumission
    - Media queries
-------------------------------------------------------------*/

/* Soumission
-------------------------------------------------------------*/

.soumissionUsager{
    width: 460px;
    color : black;
    margin: auto;
    margin-top : 50px;
    margin: left;
}

.soumissionUsager h1{
    width: 350px;
    text-align: center;
    border-bottom: solid black 2px;
}

.soumissionUsagerFormulaire label{
    display:block;
    text-align:left; 
    margin-bottom: 2px;
    width: 200px;
}

.soumissionUsagerFormulaire input{
    width: 340px;
    margin-bottom: 15px;
}

.soumissionUsagerFormulaire select{
    margin-bottom: 15px;
}

.boutonSoummissionUsager{
    padding: 10px 30px;
    align-self: flex-end;
	margin-right: 57px;
    margin-bottom: 50px;
    color : white;
    background-color: #000033;
	border : solid transparent 2px;
}

.boutonSoummissionUsager:hover{
    color :#000033; 
    background-color: white; 
	border : solid #000033 2px;
}

#msgErreurSoumision{
    display: block;
    color : brown;
    margin-left : 0%;
    margin-bottom: 10px; 
}

.remerciement{
    width: 440px;
    margin-bottom: 300px;
}

.remerciement h1{
    width: 435px;
    text-align: center; 
}

.remerciement{
    margin-bottom: 400px;
    text-align: center;
    //border: solid red 2px;
}


/* Téléphone -----------------------------*/
@media (max-width: 480px) {
    
    .soumissionUsager h1{
        margin-left : -60px;
        font-size : 1.7em;
        text-align: left;
        width: 340px;
    }
    
    .soumissionUsagerFormulaire{
        margin-left : -60px;
    }
    
    .boutonSoummissionUsager{
        align-self: center;
    } 
    
    .remerciement{
        width: 300px;
        margin-bottom: 200px;
        margin-left: -80px; 
    }
    
    .remerciement h1{
        margin-left: 0px; 
    }
    
    .remerciement p{
        text-align:left; 
    }
}