/*  TABLE DES MATIÈRES
    - Catégorie
    - Carrousel
-------------------------------------------------------------*/

/* Catégorie
-------------------------------------------------------------*/

.gestionAdminTitre h3{
    //border: solid blue 1px;
    font-size: 1.3em;
    letter-spacing: 0.15em;
    margin-bottom : -10px;
}

.liensGestionOeuvres a{
    margin-right: 15px;;
    margin-bottom: 40px;
}

@media (max-width: 800px) {
    .liensGestionOeuvres a{
        margin-bottom: 10px;
    }
}


/* Carrousel
-------------------------------------------------------------*/


