/*  TABLE DES MATIÈRES
    - Catégorie
    - Carrousel
-------------------------------------------------------------*/

/* Catégorie
-------------------------------------------------------------*/

.gestionAdminTitre h3{
    //border: solid blue 1px;
    font-size: 1.3em;
    letter-spacing: 0.15em;
    margin-bottom : -10px;
}

.categorie{
    margin-bottom: 70px;
}


/* Carrousel
-------------------------------------------------------------*/


