/*  TABLE DES MATIÈRES
    - Vérification
-------------------------------------------------------------*/

/* Vérification
-------------------------------------------------------------*/

.verificationBD li{
    margin-bottom: 10px;
    list-style: none;
}

.droit{
    margin-left: 20%;
}

.tetetableau
{
	background-color: black;
	color: white;
	
}
#gifCharge{
	
	height: 60px;
	width: 60px;
}

#charImage{
	
	display: none;
}
#tablehistorique th{
	
	border-bottom: 1px solid black;
	padding: 10px;
}

@media (max-width: 800px) {
    .droit{
        margin-left: 0%;
        margin-top: 20px;
    }
}