/*  TABLE DES MATIÈRES
    - Liste
-------------------------------------------------------------*/

/* Liste
-------------------------------------------------------------*/

.elemListe{
    margin-bottom: 30px;
}

.listeOeuvresAdmin li{
    list-style-type: none;
    line-height: 1.5em;
}

.photoOeuvre{ 
    margin-right: 30px;
}

.informationOeuvre{
    width: 50%;
}

@media (max-width: 800px) /*ajustement menu*/
{
    .informationOeuvre{
        width: 90%;
    }
    
}

.listeAuteur{
    margin-top: -25px;
    margin-left: 85px; 
}



