/*  TABLE DES MATIÈRES
    - Typo CSS
    - Global
    - Flexbox
    - Marges
    - Couleur texte 
    - Couleur background
    - Logo
    - Menu
    - Deconnection Admin
    - Liens
    - Boutons
    - Titre
    - Liste
    - Formulaire
    - Accueil - Connection Admin
-------------------------------------------------------------*/
    

/* Global
-------------------------------------------------------------*/
*{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    margin:0;
	padding:0;
	list-style-type : none;
}

a{
    text-decoration: none;
	margin:0;
}


/* Typo CSS
-------------------------------------------------------------*/
/*
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

.typoValeurAdmin{
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
}


/* Flexbox
-------------------------------------------------------------*/
.flex-row{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}

.flex-row-left{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			nowrap;
	justify-content: 	left;
	align-items: 		center;
	align-content: 		center;
}

.flex-row-center{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}

.flex-row-space{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			wrap;
	justify-content: 	space-between;
	align-items: 		center;
	align-content: 		center;
}

@media (max-width: 800px) {
    .flex-row-left{
	   flex-direction:     column;
	   justify-content:    left;
	   align-items:        flex-start;
	   align-content:      flex-start;
    }
}

.flex-column{
	display: flex;
	flex-direction: 	column;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}

.flex-column-left{
	display: flex;
	flex-direction: 	column;
	flex-wrap:			nowrap;
	justify-content: 	left;
	align-items: 		left;
	align-content: 		left;
}

/* Marges
-------------------------------------------------------------*/

.reset-marges{
	margin:0;
	padding:0;
}

.marginDivPrincipale{
    margin-top : 50px;
    margin-left: 40px;
}

@media (max-width: 480px) {
    .marginDivPrincipale{
        borde: solid red 1px;
        margin-left: 20px; 
    }
}

.marginFooter{
	margin-top: 100px;
}

.largeur100{
	position: relative;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.margin-hauteur100{
	margin-top: 100px;
	margin-bottom: 100px;
}

.margin100{
	margin:100px;
}

.margin10-100{
	margin: 10px 100px;
}

.espaceADroite10{
    margin-right: 10%;
}

@media (max-width: 850px) {
    .espaceADroite10{
         margin-right: 5%;
    }
}

.espaceHaut10{
    margin-top: 0px;
}

@media (max-width: 800px) {    
    .espaceHaut10{
        margin-top: 10px;
    }
}

.espaceHaut30{
    margin-top: 0px;
}

@media (max-width: 800px) {    
    .espaceHaut30{
        margin-top: 30px;
    }
}


/* Couleur texte
-------------------------------------------------------------*/

.blanc{
	color : white;
}

.vert{
	color: #016737;
}


/* Couleur background
-------------------------------------------------------------
.fondVert{
	//background-color: #016737;
    //background-color: #313e54;
}

.fondBlanc{
	background-color: white;
}
*/

/* Logo
-------------------------------------------------------------*/
#logo{
    font-size : 3.5em;
    //color : #016737;
    color: #1f2a33;
    margin-top : 40px;
    margin-left : 40px;
}

.art{
    color : #b9cbce;
}

#administrationLogo{
    position: absolute;
    color : white;
    top: 67px;
    margin-left : 150px;
    letter-spacing: 4px;   
}

.ligneLogo{
	margin-top : -23px;
	//background-color: #016737;
    background-color: #1f2a33; 
	height: 50px;
}

@media (max-width: 600px) /*ajustement positionnement entête*/
{
	#administrationLogo{
		font-size : 1.2em;
		top: 92px;
		margin-left : 120px;
	}
		
	#logo{
		font-size : 2.5em;
		margin-top : 70px;
	}
	
	#logo span{
		font-size : 1em;
	}
	
	.ligneLogo{
		margin-top : -17px;
	}
}

@media (max-width: 480px) /*ajustement positionnement entête*/
{
	#logo{
		margin-left : 20px;
	}
    #administrationLogo{
		margin-left : 100px;
	}
}


/* Menu 
-------------------------------------------------------------*/
.LigneCouleurMenu
{
	//background-color: #016737;
    background-color: #1f2a33;
	height: 50px;
}

.menu{
    margin-top : -20px;
}

.menu ul{
    //background-color : #016737;
    background-color: #1f2a33;
    padding-top : 50px;
}

.menu li{
    display : inline-block;
    list-style-type : none;
    margin-top : 30px;
    margin-right : 1%;
    text-align:center;
    border-left : solid white 2px;
    border-right : solid white 2px;
    border-top : solid white 2px;
}

.menu li:first-child{
    margin-left: 40px;
}

.menu a{
	display:block;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
    color : white; 
	padding : 10px 15px 5px 15px;
}

.menu li:hover{
	margin-top: 20px;
}

.menu li:hover a{
	padding-top: 20px;
}

.menu li.actif { 
    font-weight: bold;
	background-color : white;
    display : inline-block;
    color: black;
	border-left : solid white 2px;
    border-right : solid white 2px;
    border-top : solid white 2px;
	padding-top: 10px;
	//padding-top: 100px;
}

.menu li.actif a{
    color: #1f2a33;
}

.menu li.actif:hover {
	margin-top: 30px;
}

.menu li.actif:hover a{
	padding-top: 10px;
}

@media (max-width: 800px) /*ajustement menu*/
{
	.menu ul{
		display: flex;
		flex-direction: 	column;
		flex-wrap:			nowrap;
		justify-content: 	flex-start;
		align-items: 		flex-start;
		align-content: 		flex-start;
	}
      
	.menu ul li{
		flex: 1 0 auto;
		margin : 5px 0;
        width: 170px;
		border-bottom : solid white 2px;
		border-left : solid transparent 0;
	}
	
    .menu li:first-child{
        margin-left: 0px;
        margin-top : -30px;
    }
    
    .menu li:last-child{
        margin-bottom: 10px;
    }
    
	.menu a{
        font-size: 0.7em;
		padding : 5px 0px 3px 0px;
	}
  
	.menu li:hover{
		margin-top: 5px;
        width: 200px;
	}
    
    .menu li:first-child:hover{
        margin-top : -30px;
    }

	.menu li:hover a{
		padding-top: 5px;
	}

	.menu li.actif { 
		padding-top: 0;
		//padding-right: 40px;
        width: 100%;
	}
}


/* Deconnection Admin
-------------------------------------------------------------*/
#deconnectionAdmin{
	position: absolute;
	top: 10px;
	right: 20px;
	align-content: flex-end;
	//color : #016737; 
	color : #1f2a33; 
	text-align: right;
}

#nomUsager{
	margin:0;
	padding: 20px;
}

@media (max-width: 480px) /*ajustement menu*/
{
    #deconnectionAdmin{
        margin-right: -20px;
    }
    
    #nomUsager{
        font-size: 0.8em;
    }
    
}


/* Liens
-------------------------------------------------------------*/

.liens a{
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    color : white;
    left: 75.5%;
    padding: 5px 20px;
    background-color: #1f2a33;
	border : solid transparent 2px;
}

.liens a:hover{
    color : #1f2a33; 
    background-color: white; 
	border : solid #1f2a33 2px;
}

.hautPage{
    position: fixed;
    font-size: 0.7em;
    bottom: 0;
    right: 0;
    padding-right: 1%;
    padding-bottom: 20px; 
}

.hautPage a{
    color: black;
    opacity: 0.4;
}

.hautPage a:hover{
    opacity: 1;
}

/* Boutons
-------------------------------------------------------------*/
.bouton{
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    color : white;
    left: 75.5%;
    padding: 10px 30px;
	margin: 20px;
    //background-color: #016737;
    background-color: #1f2a33;
	border : solid transparent 2px;
}

.bouton2{
    font-family: 'Muli', sans-serif;
    font-size: 0.7em;
    color : white;
    left: 75.5%;
    padding: 5px 20px;
	margin : 20px;
    //background-color: #016737;
    background-color: #1f2a33;
	border : solid transparent 2px;
}

.bouton:hover, .bouton2:hover{
    //color : #016737; 
    color : #1f2a33; 
    background-color: white; 
	border : solid #1f2a33 2px;
}

@media (max-width: 480px) /*ajustement positionnement entête*/
{
	.bouton2{
        font-size: 0.6em;
    }
}


/* Titre 
-------------------------------------------------------------*/
.adminTitre h1{
    border-bottom: solid black 2px; 
}


/* Liste 
-------------------------------------------------------------*/
li{
	padding:0;
}


/* Formulaire
-------------------------------------------------------------*/
/*
.form{
    //width: 570px;
    width: 100%;
    color : black;
    padding-left: 100px;
    padding-top : 20px;
    padding-bottom: 20px;
}
*/

/* Accueil - Connection Admin
-------------------------------------------------------------*/
#deconnectionAdmin{
	position: absolute;
	top: 10px;
	right: 20px;
	align-content: flex-end;
	color : #016737; 
	text-align: right;
}

#nomUsager{	
	margin:0;
	padding: 20px;
    color : #1f2a33;
}

.autentificationForm{
	//width: 570px;
	//width: 60%;
    //color : #016737;
    color : #1f2a33;
	display: flex;
	flex-direction: column;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 100px;
	padding:10px 5px;
}