/*  CSS SOUMISSION  */

/* Soumission
-------------------------------------------------------------*/
.soumissionAdmin{
    width: 602px;
    color : black;
    margin: auto;
    margin-top : 50px;
}

.soumissionAdmin h1{
    position: relative;
    left: 29%;
    margin-bottom: -1px;
}

.soumissionAdminFormulaire{
    width: 600px;
    color : black;
    padding-left: 5%;
    padding-top : 20px;
    padding-bottom: 20px;
    border : solid black 2px;
}

.soumissionAdminFormulaire label{
    display:inline-block;
    width: 200px;
    text-align:right;
    margin-bottom: 10px;
}

.soumissionAdminFormulaire input{
    width: 337px;
}

#boutonSoumission{
    position: relative;
    left: 75.5%;
    padding: 15px 35px;
    margin-top : 20px;
    margin-bottom : 30px;
    color : white;
    background-color: #016737;
    border: none;
}

#boutonSoumission:hover{
    color : #016737; 
    background-color: white; 
}

#msgErreurSoumision{
    color : brown;
    margin-left : 37%;

}





/*
.noir{
    color : black;
}
*/

/* menu
-------------------------------------------------------------*/
/*
.menu{
    margin-top : -20px;
}

.menu ul{
    background-color : #016737;
    padding-top : 50px;
}

.menu li{
    display : inline-block;
    list-style-type : none;
    margin-top : 30px;
    margin-right : 10px;
    width : 130px;
    text-align:center;
    border-left : solid white 2px;
    border-right : solid white 2px;
    border-top : solid white 2px;
	padding : 10px 22px;
	
}

.menu a{
    text-decoration: none;
    color : white; 
}

*/



/* classe générale
-------------------------------------------------------------*/
/*
.bouton{
    position: relative;
    left: 75.5%;
    padding: 15px 35px;
    margin-top : 20px;
    margin-bottom : 30px;
    color : white;
    background-color: #016737;
	border : solid transparent 2px;
}

.bouton2{
    left: 75.5%;
    padding: 5px 20px;
	margin: 0;
    margin-top : 20px;
    margin-bottom : 30px;
    color : white;
    background-color: #016737;
	border : solid transparent 2px;
}

.bouton:hover, .bouton2:hover{
    color : #016737; 
    background-color: white; 
	border : solid #016737 2px;
}
*/
/*
.largeur100{
	position: relative;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
*/
/*
.largeur80{
	
}

.flex-row{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}

.flex-column{
	display: flex;
	flex-direction: 	column;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}
*/

/* Autentification Admin
-------------------------------------------------------------*/
/*
.autentificationForm{
	min-width: 570px;
    color : #016737;
	display: flex;
	flex-direction: column;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 10%;
	padding:50px 5px;
}

#deconnectionAdmin{
	
}

#nomUsager{
	margin:0;
	padding:0;
	
}
*/
