/*  TABLE DES MATIÈRES
    - Global
    - Entête 
    - Soumission
    -
    -
-------------------------------------------------------------*/




/* Global
-------------------------------------------------------------*/
*{
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
	margin:0;
}


/* couleur texte
-------------------------------------------------------------*/
.noir{
    color : black;
}

.blanc{
	color : white;
}

.vert{
	color: #016737;
}


/* couleur background
-------------------------------------------------------------*/
.fondVert{
	background-color: #016737;
}

.fondBlanc{
	background-color: white;
}


/* tableau 
-------------------------------------------------------------*/
li{
	padding:0;
}


/* largeur / hauteur
-------------------------------------------------------------*/
.reset-marges{
	margin:0;
	padding:0;
}

.largeur100
{
	position: relative;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.reset-marges{
	margin:0;
	padding:0;
}

.margin-hauteur100{
	margin-top: 100px;
	margin-bottom: 100px;
}

.margin100{
	margin:100px;
}

.margin10-100{
	margin: 10px 100px;
}


/* logo
-------------------------------------------------------------*/
#logo{
    font-size : 3.5em;
    color : #016737;
    margin-top : 40px;
    margin-left : 40px;
}

#administrationLogo
{
    position: absolute;
    color : white;
    top: 64px;
    margin-left : 150px;
    letter-spacing: 4px;   
}

.ligneLogo{
	margin-top : -25px;
	background-color: #016737; 
	height: 50px;
}


/* menu 
-------------------------------------------------------------*/
.LigneCouleurMenu
{
	background-color: #016737; 
	height: 50px;
}

.menu{
    margin-top : -20px;
}

.menu ul{
    background-color : #016737;
    padding-top : 50px;
}

.menu li{
    display : inline-block;
    list-style-type : none;
    margin-top : 30px;
    margin-right : 10px;
    text-align:center;
    border-left : solid white 2px;
    border-right : solid white 2px;
    border-top : solid white 2px;
	
}

.menu a{
	display:block;
    text-decoration: none;
    color : white; 
	padding : 10px 20px 5px 20px;
}

.menu li:hover{
	margin-top: 20px;
}

.menu li:hover a{
	padding-top: 20px;
}

.menu li.actif { 
	background-color : white;
    display : inline-block;
    color: black;
    pointer-events: none;
	border-left : solid white 2px;
    border-right : solid white 2px;
    border-top : solid white 2px;
	padding-top: 10px;
}

.menu li.actif a{
	color : #016737;
}


/* deconnection Admin
-------------------------------------------------------------*/
#deconnectionAdmin{
	position: absolute;
	top: 10px;
	right: 20px;
	
	align-content: flex-end;
	color : #016737; 
	text-align: right;

}

#nomUsager{
	
	margin:0;
	padding: 20px;
	
}


/* bouton
-------------------------------------------------------------*/
.bouton{
	
    left: 75.5%;
    padding: 10px 30px;
	/*
	margin: 0;
    margin-top : 20px;
    margin-bottom : 30px;
	*/
	margin: 20px;
    color : white;
    background-color: #016737;
	border : solid transparent 2px;
	
}

.bouton2{
    left: 75.5%;
    padding: 5px 20px;
	/*
	margin: 0;
    margin-top : 20px;
    margin-bottom : 30px;
	*/
	margin : 20px;
    color : white;
    background-color: #016737;
	border : solid transparent 2px;
}

.bouton:hover, .bouton2:hover{
    color : #016737; 
    background-color: white; 
	border : solid #016737 2px;
	/*
	//margin: 0 auto;
	//padding:50px 5px;
	*/
}


/* flexbox
-------------------------------------------------------------*/
.flex-row{
	display: flex;
	flex-direction: 	row;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}

.flex-column{
	display: flex;
	flex-direction: 	column;
	flex-wrap:			nowrap;
	justify-content: 	center;
	align-items: 		center;
	align-content: 		center;
}


/* formulaire
-------------------------------------------------------------*/
.form{
    //width: 570px;
    width: 100%;
    color : black;
    padding-left: 100px;
    padding-top : 20px;
    padding-bottom: 20px;

}


/* connection Admin
-------------------------------------------------------------*/
#deconnectionAdmin{
	position: absolute;
	top: 10px;
	right: 20px;
	
	align-content: flex-end;
	color : #016737; 
	text-align: right;

}

#nomUsager{
	
	margin:0;
	padding: 20px;
	
}

.autentificationForm{
	//width: 570px;
	//width: 60%;
    color : #016737;
	display: flex;
	flex-direction: column;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0 100px;
	padding:10px 5px;
}