/*  TABLE DES MATIÈRES
    - Barre de recherche
-------------------------------------------------------------*/

/* Barre de recherche
-------------------------------------------------------------*/

#barRecherche{
    position: absolute;
    width: 461px;
    right: 0px;
    margin-right: 22px;
	color: #4d4d4d;
}

.inputRecherche{
    width: 300px;
}

@media (max-width: 480px) {
    .inputRecherche{
        width: 200px;
    }
    
    #barRecherche{
        margin-right: -110px;
    }  
}

#msgResultat{
	color : brown;
	text-align: center;
}