/*  TABLE DES MATIÈRES
    - Soumission admin
    - Affichage soumission usager
-------------------------------------------------------------*/


/* Soumission admin
-------------------------------------------------------------*/
.soumissionAdmin{
    width: 602px;
    color : black;
    margin: auto;
    margin-top : 50px;
}

.soumissionAdmin h1{
    position: relative;
    left: 29%;
    margin-bottom: -1px;
}

.soumissionAdminFormulaire{
    width: 600px;
    color : black;
    padding-left: 5%;
    padding-top : 20px;
    padding-bottom: 20px;
    border : solid black 2px;
}

.soumissionAdminFormulaire label{
    display:inline-block;
    width: 200px;
    text-align:right;
    margin-bottom: 10px;
}

.soumissionAdminFormulaire input{
    width: 337px;
}

#boutonSoumission{
    position: relative;
    left: 75.5%;
}

#msgErreurSoumision{
    color : brown;
    margin-left : 37%;
}

.afficheSoumissionsUsagers h1{
    border-bottom: solid black 2px;
    margin-top : 50px;
    margin-left: 40px; 
}

.afficheSoumissionsUsagers ul{
    margin-bottom: 20px;
}

.soumissionDesUsagers li{
    list-style-type: none;
}

.soumissionDesUsagers a{
    text-decoration: none;
    color: black;
}

.numeroSoumission{
    font-size: 1.2em;
    letter-spacing: 6px;
}

.liensSoumission a{
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    letter-spacing: 3px;
    margin-right: 20px;
}
